<ul class="nav">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{path('app_main')}}">Accueil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_ajouter') }}">Creer Recette
		</a>
		<a class="nav-link" href="{{ path('category.create') }}">Creer Categorie
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_contact') }}">Nous Contactez
		</a>
	</li>


</ul>
