{% extends 'base.html.twig' %}

{% block title %}Recepies
{% endblock %}
{% block body %}
	<h1>Nos meilleurs recettes rien que pour vous :</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for recette in recettes %}
				<tr>
					<td>
						<a href="{{path('app_show',{'id':recette.id})}}">{{recette.title}}</a>
					</td>
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-primary btn-sm" href="{{path('app_edit',{'id':recette.id})}}">editer</a>
							<form action="{{path('app_remove',{'id':recette.id})}}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<button type="submit" class="btn btn-danger btn-sm">supprimer</button>
							</form>
						</div>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
