{% extends 'base.html.twig' %}

{% block title %}
	{{recette.title}}
{% endblock %}

{% block body %}
	<h1>{{recette.title}}</h1>
	<p>{{recette.content}}</p>
	<h2>duration en min :
		{{recette.duree}}</h2>

{% endblock %}
