{% extends 'base.html.twig' %}

{% block title %}Contactez nous !
{% endblock %}

{% block body %}

	<h1>Nous Contactez :</h1>
	{{ form_start(form) }}
	<div class="raw">
		<div class="col-sm">{{form_row(form.name)}}</div>
		<div class="col-sm">{{form_row(form.email)}}</div>
	</div>


	{{ form_end(form) }}

{% endblock %}
